.continer{
   padding:5px 30px;
}

.text{
   font-family:'Times New Roman', Times, serif;
   margin: 5px;
   color:black !important;
   font-weight: bold;
   font-size: 20px;
}
.text-groub,label,#dd_1,#dd_2{
   font-family:'Times New Roman', Times, serif;
   color:gray !important;
   font-weight: bold;
   font-size: 15px;
}

.input-group{
   background-color: white !important;
}
.input-2{
   background-color: rgb(201, 198, 198)!important;
}

.input-2:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

.contact_us_2 {
  background: hsla(100, 43%, 50%, 1);

  background: linear-gradient(
    45deg,
    hsla(100, 43%, 50%, 1) 0%,
    hsla(140, 65%, 37%, 1) 30%,
    hsla(207, 77%, 35%, 1) 70%,
    hsla(204, 78%, 43%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(100, 43%, 50%, 1) 0%,
    hsla(140, 65%, 37%, 1) 30%,
    hsla(207, 77%, 35%, 1) 70%,
    hsla(204, 78%, 43%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(100, 43%, 50%, 1) 0%,
    hsla(140, 65%, 37%, 1) 30%,
    hsla(207, 77%, 35%, 1) 70%,
    hsla(204, 78%, 43%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6DB549", endColorstr="#219C49", GradientType=1 );
  padding: 3rem 0;
}
.btn{
   background-color: black;
   font-family:'Times New Roman', Times, serif;
   font-size: 15px;
}

.btn:hover{
   background-color: rgb(25, 25, 25);

}