body{
 background-color: black;
 opacity: 5px;
}
h2{
   color: #fff;
}

.continer{
   padding:5px 30px;
}

.text{
   font-family:'Times New Roman', Times, serif;
   color:black !important;
   font-weight: bold;
   font-size: 20px;
}
label,#dd_1,#dd_2{
   font-family:'Times New Roman', Times, serif;
   color:black !important;
   font-weight: bold;
   font-size: 15px;
}
/* label{
margin-top: 5px;

} */

.text-groub{
    color: gray;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
   font-size: 15px;
}

.input-group{
   background-color: white !important;
   border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;

}
.input-2{
   background-color: rgb(201, 198, 198)!important;
}

.input-2:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }


.button{
   background: linear-gradient(to right, rgba(0, 163, 224) 26%, rgba(132, 189, 0));
   font-family:'Times New Roman', Times, serif;
   font-size: 18px;
   color: black;
   font-weight: bold;
   border-color: #719ECE;
   box-shadow: 0 0 10px #719ECE;
   border: 1px solid #595E57;
   border-radius: 5px;
   height: 50px;
}

.button:hover{
background: linear-gradient(to right, rgba(0, 163, 224) 26%, rgba(132, 189, 0));

}


option:hover {
   background-color: aquamarine;
    }
.selector {
  background-color: #252525;
  color: #fff;
  border: none;
  border: 1px solid #595E57;
  padding: 5px;
  width: 150px;
  overflow:hidden;
}
.selector option{
padding:5px;
}
.selector option:hover{
  background-color: #1BA1E2 !important;
}
