body{
background: rgb(41, 174, 68);
background: linear-gradient(90deg, rgba(1, 165, 75, 1) 26%, rgba(4, 119, 193, 1) 100%);
}


.continer{
   padding:5px 30px;
}

.text{
   font-family:'Times New Roman', Times, serif;
   margin: 5px;
   color:black !important;
   font-weight: bold;
   font-size: 20px;
}
.text-groub,label,#dd_1,#dd_2{
   font-family:'Times New Roman', Times, serif;
   color:gray !important;
   font-weight: bold;
   font-size: 15px;
}

.input-group{
   background-color: white !important;
}
.input-2{
   background-color: rgb(201, 198, 198)!important;
}

.input-2:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }


.btn{
   background-color: black;
   font-family:'Times New Roman', Times, serif;
   font-size: 15px;
}

.btn:hover{
   background-color: rgb(25, 25, 25);

}